body{
    font-family: "Georgia", "Times New Roman";
}
#leftMenu{

    padding: 10px;
    height: 768px;
}

.menuIcon {

    width: 48px;
    height: 48px;
}

.textViz, .stairViz {
    border: solid 1px black;
    margin: 2%;
    height: 652px;
    width: 410px;
}

.topHead {
    height: 85px;
    width: 891px;
    padding: 10px;
    margin-bottom: -40px;
}
.dropdown-menu{

}
