html {
    position: relative;
    width: 1024px;
    height: 768px;

}
.textViz, .stairViz{
    margin: 20px;
    border: solid black 2px;

}
.menuIcon {
    width: 48px;
    height: 48px;
    margin: -10px;
}

.leftMenu {
    padding: 20px;

}
.leftMenuLi {
    margin-top :25px;

}

hr.red {
    width:35%;
    border-top: 5px solid #ff7376;
    margin: 9px 0;
}
hr.blue {
    width:35%;
    border-top: 5px solid #0098ce;
    margin: 9px 0;
}
hr.green {
    width:35%;
    border-top: 5px solid #3ad531;
    margin: 9px 0;
}
hr.purple {
    width:35%;
    border-top: 5px solid #8a6ad4;
    margin: 9px 0;
}
